{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">

        <div class="bg-black-lighter min-h-screen flex flex-col" style=" background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
  background-repeat: no-repeat;">
            <h1 class="text-3xl text-center" style="color:white;">Welcome to Symfony Olympic games</h1>
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-50">
                    <h2 class="mb-8 text-3xl text-center" >Sing in</h2>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="fblock border border-grey-light w-full p-3 rounded mb-4" autocomplete="email" required autofocus placeholder="email">
                    <input type="password" name="password" id="inputPassword" class="block border border-grey-light w-full p-3 rounded mb-4" autocomplete="current-password" placeholder="password" required>
                    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <button style="background-color: #5eb5e0; text-align: center;" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        Sign in
                    </button>
                    <style>
                        .btn {
                            @apply font-bold py-2 px-4 rounded;
                        }
                        .btn-blue {
                            @apply bg-blue-500 text-white;
                        }
                        .btn-blue:hover {
                            @apply bg-blue-700;
                        }
                    </style>

                    <div class="text-center text-sm text-grey-dark mt-4">
                        <a class="no-underline border-b border-grey-dark text-blue-dark" href="/register">
                            Sigin up
                        </a>
                    </div>
                </div>
            </div>
        </div>

</form>

{% endblock %}
